// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.table {
  width: 50%;
  margin: 0px auto;
  float: none;
}

/*.table td {
   text-align: center;   
}*/


