<!DOCTYPE html>
<html>
  <head>
    <title>BaseballScoreboardSportradarApi</title>
    <%= javascript_include_tag 'sportradar.js' %>
  </head>
  <body>
    <div id="container" class="table thead-inverse col-md-8 col-md-offset-4">
    	<h1>Today's MLB Scores</h1>
    	<div id="tables"></div>
    </div>
  </body>
</html>