<!DOCTYPE html>
<html>
  <head>
    <title>BaseballScoreboardSportradarApi</title>
    <%= javascript_include_tag 'sportradar.js' %>
  </head>

  <body>
    <h1>Lives Scores Baseball</h1>
  </body>
</html>