<!DOCTYPE html>
<html>
  <head>
    <title>BaseballScoreboardSportradarApi</title>
    <%= javascript_include_tag 'sportradar.js' %>
  </head>

  <body>
    <h1>Lives Scores Baseball</h1>
<!--     <button id="refresh">Refresh</button> -->
    <div id="container"></div>
  </body>
</html>